@import "../styles/shared/mixins";

#banner-image {
  width: 100%;
  object-fit: cover;
  height: 100px;
  display: none;
}

main {
  min-height: calc(100vh - var(--nav-height));
  padding: 2rem;
  background-color: var(--background-body-color);
  z-index: 1;
  position: relative;

  .hero-image {
    object-fit: cover;
    width: 100%;
    height: auto;
  }
}

footer {
  @include nav-style;
  height: 200px;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inline-link {
  color: blueviolet;
}

.button-group {
  display: flex;
  justify-content: space-between;
}

.checkbox-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  input {
    width: unset;
  }
}
